<%= form_with(model: dive) do |form| %>
  <% if dive.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dive.errors.count, "error") %> prohibited this dive from being saved:</h2>

      <ul>
        <% dive.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :diver, style: "display: block" %>
    <%= form.text_field :diver %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <h2>Dive Location</h2>

  <div data-controller="existing-or-new">
    <div>
      <%= form.radio_button :location_selection, 'existing',
          checked: true,
          data: {
            existing_or_new_target: "radio",
            action: "change->existing-or-new#toggle"
          } %>
      <%= form.label :location_selection_existing, 'Select Existing Location' %>

      <%= form.radio_button :location_selection, 'new',
          data: {
            existing_or_new_target: "radio",
            action: "change->existing-or-new#toggle"
          } %>
      <%= form.label :location_selection_new, 'Create New Location' %>
    </div>

    <div id="existing_location_fields" data-existing-or-new-target="existing">
      <%= form.label :dive_location_id, 'Select Location', style: "display: block" %>
      <%= form.collection_select :dive_location_id, DiveLocation.all, :id, :site_name %>
    </div>

    <div id="new_location_fields" data-existing-or-new-target="new" style="display: none;">
      <%= form.fields_for :dive_location do |dive_location_form| %>
        <div>
          <%= dive_location_form.label :site_name, style: "display: block" %>
          <%= dive_location_form.text_field :site_name %>
        </div>

        <div>
          <%= dive_location_form.label :location_type, style: "display: block" %>
          <%= dive_location_form.text_field :location_type %>
        </div>

        <div>
          <%= dive_location_form.label :latitude, style: "display: block" %>
          <%= dive_location_form.text_field :latitude %>
        </div>

        <div>
          <%= dive_location_form.label :longitude, style: "display: block" %>
          <%= dive_location_form.text_field :longitude %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
